---
const currentYear = new Date().getFullYear();
---

<footer class="bg-code-bg text-code-text py-8 font-mono">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="text-center md:text-left mb-4 md:mb-0">
        <p class="text-secondary">© {currentYear} <span class="text-success">return</span> "All rights reserved";</p>
      </div>
      <div class="flex space-x-6">
        <a href="https://github.com/EstebanMendez01" target="_blank" rel="noopener noreferrer" class="text-secondary hover:text-accent">
          github.connect()
        </a>
        <a href="https://linkedin.com/in/juan-esteban-mendez-reyes/" target="_blank" rel="noopener noreferrer" class="text-secondary hover:text-accent">
          linkedin.connect()
        </a>
      </div>
    </div>
  </div>
</footer>